#gridContainer {
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(4, 1fr);
    height: 700px;/*calc(100vh - 200px);*/
    width: 700px;/*calc(100vh - 200px); */

  }


  #gridContainer > div {
    border: 1px solid #ddd;
    text-align: center;
  }